@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  font-size: 20px;
  background-image: url("../ina_logo.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text_black {
  color: black;
}

.con {
  width: 100%;
  max-width: 1900px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
  margin: auto;
}

.bg {
  background-image: url("../bg2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
}


/* Navbar */

.logo_nav {
  width: 50px;
}

.logo_name {
  font-family: 'Krona One', sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 10px;
}

.nav_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_nav_con {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_link_con {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 10px;
}


/* Intro */

.intro_con {}

.logo {
  min-width: 20px;
  width: 580px;
  margin-top: 10px;
}

.logo_con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.welcome_con {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-top: 30px;
}

.welcome_name {
  font-family: 'Krona One', sans-serif;
}

.welcome_obj {
  padding-right: 100px;
  line-height: 40px;
  font-size: 18px;
}

.line {
  border-bottom: solid 2px black;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.welcome_btn {
  margin-top: 50px;
  margin-bottom: 80px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 13px !important;
  padding-bottom: 10px !important;
  border-radius: 15px !important;
  border: none !important;
  background-image: linear-gradient(to right, #D644D5, #8B1FC3);

}

.welcome_btn:hover {
  transition: 0.3s;
  opacity: 0.7;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.235);
}

/* Contact */

.contact_con {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 30px;
}

.contact_item {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  border: solid 2px black;

  max-width: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 40px;
  margin-right: 40px;
}

.contact_item_email {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  border: solid 2px black;

  min-width: fit-content;
  width: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 40px;
  margin-right: 40px;
}

.contact_item_content {
  margin-left: 20px;
}

.contact_item_content_email {
  margin-left: 20px;
}

/* Skills */

.skills_con {
  margin-top: -100px;
  background-color: #CDC7E5;

  padding-top: 150px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;

}

.center {
  width: 100%;
  max-width: 1700px;
}

.skills_title {
  font-family: 'Krona One', sans-serif;
}

.skills_desc {
  margin-top: 40px;
  line-height: 40px;
  font-size: 18px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.ux_con {
  color: white;
}

.ux {
  background-image: linear-gradient(#D644D5, #8B1FC3);
  padding: 50px;
  border-radius: 30px;

  margin-bottom: 20px;
}

.web {
  border: solid 2px black;
  border-radius: 30px;
  padding: 50px;

  margin-bottom: 20px;
}

.ux_desc,
.web_desc {
  margin-top: 30px;
}


/* Portfolio */

.portfolio_con {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.portfolio_title {
  font-family: 'Krona One', sans-serif;

}

.portfolio_desc {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}


/* Cards */

.card_group {
  padding-top: 30px;
  width: 100%;
}

.card_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  align-self: center !important;
  max-width: 350px !important;
  min-width: 350px !important;
  min-height: 470px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5) !important;

  border-radius: 30px !important;
  padding: 30px !important;

  margin: 35px !important;
}

.card_img {
  border-radius: 20px !important;
  height: 200px;
}

.card_title {
  margin-top: 10px !important;
}

.card-footer {
  background: none !important;
  border: none !important;
  padding: none !important;
  margin: none !important;
}

.card_btn {
  width: 100% !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 15px !important;
  border: none !important;
  background-image: linear-gradient(to right, #D644D5, #8B1FC3);

}

.card_btn:hover {
  transition: 0.3s;
  scale: 1.05;
  opacity: 0.8;
  box-shadow: 0 0 20px white;
}

.card:hover {
  transition: 0.3s;
  scale: 1.02;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.168);
}

/* Greet */

.greet_title {
  font-family: 'Krona One', sans-serif;
  align-self: self-start;
}

.greet_con {
  margin-top: 30px;
  margin-bottom: 0;
}

.greet_desc {
  margin-top: 30px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 40px;
}

.greet_title_con {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.greet_img {
  align-self: center;
  min-width: 70%;

}

.greet_img_con {
  display: flex;
  justify-content: center;
}

.greet_con2 {
  width: 100%;
  max-width: 1900px;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  margin: auto;
}

/* Footer */

.footer_con {
  background-color: #CDC7E5;

  padding-top: 60px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;

  display: flex;
  justify-content: center;

}

.footer_name {
  font-family: 'Krona One', sans-serif;
}

.footer_info {
  margin-top: 20px;
}

.footer_contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: right;
}

.footer_contact_item{
  margin-right: 20px;
}

.footer_contact_email{
  margin-right: 20px;
}

.footer_contact_emailcon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-left: 40px;
}